* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: aliceblue;
  border: 4px solid black;
  border-radius: 20px;
  padding: 15px;
  width: 500px;
  text-align: center;
}

.chances {
  width: 100%;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  list-style: none;
  overflow: auto;
}

.chance {
  margin: 10px 0;
}

.reset {
  margin-top: 20px;
  border: 1px solid lightblue;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color 100ms ease-in;
}

.reset:hover {
  background-color: aquamarine;
}

.read-only {
  background-color: lightgray;
}